body{
    background-color: #24353f;;
}

.container.content input{
    background-color: transparent !important;
    
}

.container .header-signup h1{
    color: #17a2b8;
}
.signup-content{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}


